<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>RegServlet</servlet-name>
  <servlet-class>finall.RegServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>loginServlet</servlet-name>
  <servlet-class>finall.loginServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>addServlet</servlet-name>
  <servlet-class>finall.addServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>editServlet</servlet-name>
  <servlet-class>finall.editServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>updateServlet</servlet-name>
  <servlet-class>finall.updateServlet</servlet-class>
</servlet>

<servlet>
  <servlet-name>detailsServlet</servlet-name>
  <servlet-class>finall.detailsServlet</servlet-class>
</servlet>


<servlet-mapping>
  <servlet-name>detailsServlet</servlet-name>
  <url-pattern>/details</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>updateServlet</servlet-name>
  <url-pattern>/edit</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>editServlet</servlet-name>
  <url-pattern>/admin_Home</url-pattern>
</servlet-mapping>



<servlet-mapping>
  <servlet-name>addServlet</servlet-name>
  <url-pattern>/admin_Add</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>RegServlet</servlet-name>
  <url-pattern>/register</url-pattern>
</servlet-mapping>


<servlet-mapping>
  <servlet-name>loginServlet</servlet-name>
  <url-pattern>/login</url-pattern>
</servlet-mapping>
  
  
</web-app>